celery==5.4.0
email_validator==2.2.0
Flask==3.0.3
Flask-DebugToolbar==0.15.1
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-Minify==0.47
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gunicorn==22.0.0
hiredis==2.3.2
Jinja2==3.1.4
python-dotenv==1.0.1
redis==5.0.7
SQLAlchemy==2.0.31
Werkzeug==3.0.3
WTForms==3.1.2
