{% extends "layouts/base.html" %}

{% block content %}

<main>
    <div class="px-4 pt-6">
        <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3"">
            <div class=" p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700
            sm:p-6 dark:bg-gray-800">
            SomeChart
            <div id="somechart"></div>
        </div>
        <div
            class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            SomeChart
        </div>
    </div>
    </div>
</main>

{% endblock content %}



{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>
    const getSomeChartOptions = () => {
        let mainChartColors = {}

        if (document.documentElement.classList.contains('dark')) {
            mainChartColors = {
                borderColor: '#374151',
                labelColor: '#9CA3AF',
                opacityFrom: 0,
                opacityTo: 0.15,
            };
        } else {
            mainChartColors = {
                borderColor: '#F3F4F6',
                labelColor: '#6B7280',
                opacityFrom: 0.45,
                opacityTo: 0,
            }
        }

        return {
            chart: {
                height: 350,
                type: 'bar',
                foreColor: mainChartColors.labelColor,
                toolbar: {
                    show: false,
                },
            },
            series: [{
                data: [30, 40, 45, 50, 49, 60, 70, 91, 125],
            }],
            yaxis: {
                opposite: true,
            }
        };
    }

    (async () => {
        const chart = new ApexCharts(
            document.getElementById('somechart'),
            getSomeChartOptions()
        );
        chart.render();

        document.addEventListener('dark-mode', function () {
            chart.updateOptions(getSomeChartOptions());
        });
    })();

</script>


{% endblock extra_js %}
